@model SimpleInterestAndStudentApp.Models.StudentDetails
@{
    Layout = null;
}

<h2>Enter Student Details</h2>

<form method="post" asp-action="Create" asp-controller="Student">
    <table style="width:500px">
        <tr>
            <td>Name</td>
            <td><input type="text" asp-for="Name" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" asp-for="Address" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="text" asp-for="Gender" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
