@model Ronish.Models.StudentDetails

<h2>Create Student</h2>

<form asp-action="Create" method="post">
    <label>Name</label>
    <input asp-for="Name" /><br />

    <label>Email</label>
    <input asp-for="Email" /><br />

    <label>Address</label>
    <input asp-for="Address" /><br />

    <label>Phone Number</label>
    <input asp-for="PhoneNumber" /><br />

    <label>Course</label>
    <input asp-for="Course" /><br />

    <button type="submit">Submit</button>
</form>
